.html{
    box-sizing: border-box;
    max-width:1260px;
    max-height: 940px;
    margin: auto;
    background-color: #EDF2C5;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}
.head-left{
    width: 271px;
    height: 42px;
    font-size: 36px;
    text-align: auto; 
    color:#778A50;
    font-family:Impact, Haettenschweiler, 'Arial Black', sans-serif;
    margin: 0px;
}
.head-right{
    display: flex;
}
.facebook{
    display: flex;
    align-items:center;
}
.facebook img{
    padding-right: 10px;
}
.login{
    display: flex;
    align-items:center;
}
.login p{
    padding:0px 5px;
    border:solid 1px  #778A50;
    border-radius: 3px;
    font-family:Impact, Haettenschweiler, 'Arial Bold MT', sans-serif;
    font-size: 14px;
    color: #778A50;
    margin: 5px;
}

.navigate ul{
    display: flex;
    background-color: #778A50;
    border-radius: 3px;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 8px;
}
.navigate li{
    padding:16px 30px;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Black', sans-serif;
    font-size: 16px;
    color: #EDF2C5;
}

.pumpkin{
    width: 100%;
    height: 100%;
}

.down{
        display: flex;
        margin-top: 30px;
        margin-bottom: 35px;
}
.down-left{
    margin: 0px;
    margin-right: 10px;

}
.down-left-vegetable{
    background-color: #778A50;
    border-radius: 3px;
    margin: 0px;
}
.down-left-vegetable p{
    font-family: Impact, Haettenschweiler, 'Arial Black', sans-serif;
    font-size: 16px;
    color: #EDF2C5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    margin: 0px;
    margin-bottom: 15px;
}
.down-left-veg-img{
    display: flex;
}
.pepper{margin-right: 6px;}
.carrot{margin-right: 6px; margin-left: 6px;}
.corn{margin-left: 6px;}
.down-right-contect{
    background-color: #778A50;
    border-radius: 3px;
}
.down-right-contect p{
    font-family: Impact, Haettenschweiler, 'Arial Black', sans-serif;
    font-size: 16px;
    color: #EDF2C5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    margin: 0px;
    margin-bottom: 15px;

}
.down-right-info{
    background-color: #F7FBDA;
}
.down-right-text p{
    font-family: 'Franklin Gothic Medium', 'ArialMT Regular', Arial, sans-serif;
    font-size: 12px;
    color: #7D7D7D;
    padding-left:15px ;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom:solid #7D7D7D 1px;
}
.down-right-email p{
    font-family: 'Franklin Gothic Medium', 'ArialMT Regular', Arial, sans-serif;
    font-size: 12px;
    color: #7D7D7D;
    padding-bottom: 16px;
    margin: 0px ;
}
.footer{padding-top: 15px;
    padding-bottom: 15px;
    background-color:#778A50;}
.footer p{margin: 0px;
    text-align: center;
    color: #EDF2C5;
}
